.container {
    transition: all 0.3s ease;
}

.formato {
    transition: transform 0.2s ease;
}

.formato:hover {
    transform: scale(1.02);
}

button:hover, a:hover {
    background-color: #10b981;
}

@media (max-width: 640px) {
    .container {
        padding: 1rem;
    }

    .iframe-textarea {
        height: 100px;
    }
}
.text-white {
    background-color: #00ff00da;
 }